---
import { Icon } from "astro-icon/components";

const mainThemes = ["system", "light", "dark"];
const allThemes = [
  "cupcake",
  "bumblebee",
  "emerald",
  "corporate",
  "synthwave",
  "retro",
  "cyberpunk",
  "valentine",
  "halloween",
  "garden",
  "forest",
  "aqua",
  "lofi",
  "pastel",
  "fantasy",
  "wireframe",
  "black",
  "luxury",
  "dracula",
  "cmyk",
  "autumn",
  "business",
  "acid",
  "lemonade",
  "night",
  "coffee",
  "winter",
  "dim",
  "nord",
  "sunset",
  "caramellatte",
  "abyss",
  "silk",
];

const { iconClass = "w-6 h-6" } = Astro.props;
---

<div
  class="dropdown dropdown-end dropdown-top md:dropdown-bottom dropdown-hover"
  id={`theme-toggle-${Astro.props.id || Math.random().toString(36).substr(2, 9)}`}
>
  <label class="swap swap-rotate btn btn-ghost btn-circle" tabindex="0">
    <input type="checkbox" class="theme-controller" value="dark" />
    <Icon name="line-md:sunny-outline" class:list={[iconClass, "swap-off"]} />
    <Icon name="line-md:moon" class:list={[iconClass, "swap-on"]} />
  </label>

  <div
    tabindex="0"
    class="dropdown-content z-[1] py-2 shadow-2xl bg-base-300 rounded-box w-52"
  >
    <ul class="max-h-96 overflow-y-auto px-2 flex flex-col gap-1">
      <!-- Main Themes -->
      {
        mainThemes.map((theme) => (
          <li>
            <a
              class="flex items-center gap-2 p-2 rounded-lg cursor-pointer hover:bg-base-100"
              data-set-theme={theme}
            >
              <span class="flex-grow text-sm capitalize">{theme}</span>
            </a>
          </li>
        ))
      }

      <!-- Divider -->
      <li class="border-t border-base-content/20 my-1"></li>

      <!-- All Other Themes -->
      {
        allThemes.map((theme) => (
          <li data-theme={theme}>
            <a
              class="flex items-center gap-2 p-2 rounded-lg cursor-pointer hover:bg-base-100"
              data-set-theme={theme}
            >
              <span class="flex-grow text-sm capitalize">{theme}</span>
              <span class="flex items-center gap-1">
                <span class="h-4 w-4 rounded-full bg-primary ring-1 ring-inset ring-black/10" />
                <span class="h-4 w-4 rounded-full bg-secondary ring-1 ring-inset ring-black/10" />
              </span>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</div>

